@model DisciplineTeam.Area52.Web.Models.Usuario
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--btn cor-fonte efeito-fade-navbar borda-botao-search item-barra-set botao-barra tablink botao-settings-select-->

<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2">
    <div id="cor-borda" class="well" style="background: white">
        <ul id="efeito-form" class="nav nav-tabs">
            <li class="active"><a href="#profile" class="btn efeito-fade-navbar borda-botao-search" data-toggle="tab">Profile</a></li>
            <li><a class="btn efeito-fade-navbar borda-botao-search" onclick="window.location = '../Usuario/EditSecurity'" data-toggle="tab">Security</a></li>
            <li><a class="btn efeito-fade-navbar borda-botao-search" onclick="window.location = '../Usuario/EditPicture'" data-toggle="tab">Picture</a></li>
        </ul>
        <div id="cor-borda myTabContent" class="tab-content">
            <div class="tab-pane active" id="profile">
                <form class="form-horizontal" action="~/Usuario/Edit" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <br />
                        @if (ViewBag.SucessoEdit == true)
                        {
                            <div class="alert alert-success text-center" role="alert">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                <span class="sr-only">Success:</span>Account info updated successfully!
                            </div>
                        }
                        <div class="form-group">
                            <label for="lbl_idade" class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @required = "required", maxlength = "50"})
                            </div>
                            @Html.ValidationMessageFor(m => m.Nome)
                        </div>
                        <div class="form-group">
                            <label for="lbl_idade" class="col-sm-2 control-label">Nick:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Nick, new { @class = "form-control", @required = "required", maxlength = "20" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Nick)
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender:</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Sexo, "M", true)@Html.Label("Male")

                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Sexo, "F", false)@Html.Label("Female")
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbl_idade" class="col-sm-2 control-label">Birth Date:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Datanasc, "{0:yyyy-MM-dd}", new {@class = "form-control", @disabled = "disabled" })
                                <br/>
                                @Html.TextBoxFor(m => m.Datanasc, "{0:MM/dd/yyyy}", new { @class = "form-control", @required = "required", @type = "date", min = "1900-01-01", max = "2017-12-31" })
                                @Html.ValidationMessageFor(m => m.Datanasc)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="label_desc" class="col-sm-2 control-label">Description:</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Descricao, new { rows = 4, @class = "form-control textarea-sem-resize", @placeholder = "Write something about you...", maxlength = "500" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group col-lg-12">
                        <br />
                        <br />
                        <button id="cor-fonte" type="submit" class="btn cor-fonte efeito-fade-navbar center-block">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!--./well-->
</div><!--./col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2-->
