@*@model Tuple<IEnumerable<DisciplineTeam.Area52.Web.Models.Grupo>, DisciplineTeam.Area52.Web.Models.Usuario>*@
@model  IEnumerable<DisciplineTeam.Area52.Web.Models.Grupo>
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--        Começo Menu Esquerdo        -->
<!--Cria as Coluna principal da Div lg 2/12, sm 12/12 e md 3/12-->
<div class="col-lg-2 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="~/Usuario/Edit"><span class="glyphicon glyphicon-user cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Profile</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <a href="~/Usuario/Index"><img src="@ViewBag.ReadU.Imagem" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <!--Nickname do usuario-->
            <p class="nick-person profile-usertitle-name profile-text text-center break-word">@ViewBag.ReadU.Nick</p>
            <center>
                <!--tabela com os dados do usuário-->
                <table>
                    <tr><td class="text-right font-perfil">Name:</td><td class="break-word">&nbsp;@ViewBag.ReadU.Nome</td></tr>
                    <tr><td class="text-right font-perfil">Gender:</td>
                        @if (ViewBag.ReadU.Sexo == "M")
                        {
                            <td class="break-word">&nbsp;Male</td>
                        }
                        else if (ViewBag.ReadU.Sexo == "F")
                        {
                            <td class="break-word">&nbsp;Female</td> 
                        }
                        else
                        {

                        }</tr>
                    <tr><td class="text-right font-perfil">Age:</td> 
                        @if (ViewBag.ReadU.Datanasc != null)
                        {
                            int age = DateTime.Today.Year;
                            int ageuser = Convert.ToInt32(ViewBag.ReadU.Datanasc);
                            ViewBag.ReadU.Datanasc = (age - ageuser).ToString(); ;
                            <td class="break-word">&nbsp;@ViewBag.ReadU.Datanasc</td>
                        }
                            </tr>
                    <tr><td class="text-right font-perfil">City:</td> <td class="break-word">&nbsp;@ViewBag.ReadU.Cidade</td></tr>
                    <tr><td class="text-right font-perfil">State:</td> <td class="break-word">&nbsp;@ViewBag.ReadU.Estado</td></tr>
                </table>
            </center>
        </div><!--./list-group-item-->
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a><a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->
    </div><!--/list-group-->
</div><!--/col-lg-2 col-sm-12 col-md-3-->
<!--        Fim Menu Esquerdo       -->
<!--        Começo Feed             -->
<!-- Div com tamanho 7/12 lg, 12/12 sm e 6/12 md-->
<div class="col-lg-7 col-sm-12 col-md-5">
    <!-- Div com tamanho maximo dentro da div acima-->
    <div class="col-lg-12">
        @foreach (var e in ViewBag.ReadMensagemIndex)
        {
        <!--Div dos posts-->
            <div id="cor-borda" class="panel-body thumbnail">
                <!--Cria o corpo da mensagem-->
                <div class="media">
                    <div class="col-sm-2">
                        <img class="img-responsive img-thumbnail borda-profile" src="@e.UImagem" alt="...">
                    </div>
                    <div class="media-body">
                        <div class="vertical-align">
                                <!--Nick do Usuario q postou a msg-->
                                <h4 class="nick-post media-heading"><a href="~/Usuario/User/?UserID=@e.PIdPessoa" class="cor-fonte-menu">@e.UNick </a></h4>
                                <!--Data/Hora e grupo que foi postada a msg-->
                                <h6 class="fonte-post-pequena">@e.MsgDatahora (UTC- 03:00) at <a href="~/Grupo/Index/?GrupoId=@e.GIdGrupo" class="cor-fonte-menu">@e.GNome</a></h6>
                        </div>
                        <!--Mensagem Postada-->
                        <p class="text-right text-justify">@e.MsgTexto</p>
                    </div><!--Fim post/media-body-->
                </div><!--./media-->
            </div><!--./thumbnail-->
        }
    </div><!-- Fim - col-lg-12 -->
</div><!-- ./Div com tamanho 7/12 lg, 12/12 sm e 6/12 md-->
<!--

    fim Feed

-->
<!--

    Começo Amigos e grupos

-->

<div class="col-lg-3 col-sm-12 col-md-4">
    <!--<div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo" class="panel-heading">
            <a id="cor-fonte" href="~/Usuario/Friends"><span class="glyphicon glyphicon-star cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Friends (7)</span></a>
        </div>
        <div class="panel-body">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="Akhenathon">
                        <img class="img-responsive center-block" src="~/img/akhe.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="Gust">
                        <img class="img-responsive center-block" src="~/img/gust.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Gust</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="MXJonasV">
                        <img class="img-responsive center-block" src="~/img/john.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">MXJonasV</p>
                    </a>
                </div>


                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="MXJonasV">
                        <img class="img-responsive center-block" src="~/img/john.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">MXJonasV</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="Gust">
                        <img class="img-responsive center-block" src="~/img/gust.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Gust</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a id="cor-fonte-menu" href="#" class="thumbnail" title="Akhenathon">
                        <img class="img-responsive center-block" src="~/img/akhe.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p>
                    </a>
                </div>

            <a href="~/pages/friend.html" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
        </div> fim panel-body Friends
    </div> fim panel-default Friends -->
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte" href="~/Grupo/Groups"><span class="glyphicon glyphicon-list cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Groups (@ViewBag.QuantGruposParticipa)</span></a>
        </div>
        <div class="panel-body no-border">
            @if (ViewBag.QuantGruposParticipa == 0)
            {
                <h4 class="text-center">You haven't entered or created any groups yet.</h4>
            }
            else
            {
                foreach (var e in ViewBag.ReadGrupo)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a id="cor-fonte-menu" href="~/Grupo/Index/?GrupoId=@e.IdGrupo" class="thumbnail" title="@e.Nome">
                            <img class="img-responsive center-block" src="@e.Imagem" alt="">
                            <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">@e.Nome</p>
                        </a>
                    </div>
                }
                if (ViewBag.QuantGruposParticipa > 6)
                {
                    <a href="~/Grupo/Groups" class="cor-fonte-menu col-sm-12 col-lg-12"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
                }
            }
        </div><!-- Fim panel-body groups -->
    </div><!-- fim panel-default groups -->
</div><!-- Fim col-lg-3 -->
<!--

Fim Amigos e grupos

-->


