@model DisciplineTeam.Area52.Web.Models.Evento
@{
    ViewBag.Title = "Index Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--        Começo Menu Esquerdo        -->
<!--Cria as Coluna principal da Div lg 2/12, sm 12/12 e md 3/12-->
<div class="col-lg-3 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="#"><span class="glyphicon glyphicon-pushpin cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Event</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <a href="~/Grupo/Index/?GrupoId=@ViewBag.InfoGrupo.GIdGrupo"> <img src="@ViewBag.InfoGrupo.GImagem" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <!--Nickname do usuario-->
            <h2 class="nick-person profile-usertitle-name profile-text text-center break-word">@ViewBag.ReadEvento.Nome</h2>
            <center>
                <!--tabela com os dados do usuário-->
                <table>
                    <tr><td class="text-right font-perfil">Promoted by:</td><td>&nbsp;<a href="~/Grupo/Index/?GrupoId=@ViewBag.InfoGrupo.GIdGrupo">@ViewBag.InfoGrupo.GNome</a></td></tr>
                    <tr>
                        <td class="text-right font-perfil">Event Type:</td>
                        <td>
                            &nbsp;
                            @if (@ViewBag.ReadEvento.Tipo == 1)
                            {
                                <span>Online</span>
                            }
                            else
                            {
                                <span>LAN</span>
                            }
                        </td>
                    </tr>
                </table>
            </center>
                <div class="panel-body no-border">
                    <div class="row">
                        <center>
                            @if (ViewBag.UserStatusEvento == 3 && (ViewBag.StatusUserGrupo == 1 || ViewBag.StatusUserGrupo == 2))
                            {
                                <div class="row text-center">
                                    <form method="post" action="~/Evento/BtnPartEvento/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento&IdUser=@ViewBag.IdUsuario">
                                        <button id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search" type="submit">
                                            <i id="menu-toggle" class="glyphicon glyphicon-ok"></i><span>&nbsp;Join Event</span>    @*Entrar no evento pela 1ª vez*@
                                        </button>
                                    </form>
                                </div>
                            }
                            else if (ViewBag.UserStatusEvento == 1 && (ViewBag.StatusUserGrupo == 1 || ViewBag.StatusUserGrupo == 2))
                            {
                                <br />
                                <div class="row text-center">
                                    <form method="post" action="~/Evento/BtnSairEvento/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento&IdUser=@ViewBag.IdUsuario">
                                        <button id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search" type="submit">
                                            <i id="menu-toggle" class="glyphicon glyphicon-remove"></i><span>&nbsp;Cancel Attendance</span> @*Mudar Status para 0*@
                                        </button>
                                    </form>
                                    <br />
                                </div>
                            }
                            else if (ViewBag.UserStatusEvento == 0 && (ViewBag.StatusUserGrupo == 1 || ViewBag.StatusUserGrupo == 2))
                            {
                                <br />
                                <div class="row text-center">
                                    <form method="post" action="~/Evento/BtnPartEventoUpdate/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento&IdUser=@ViewBag.IdUsuario">
                                        <button id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search" type="submit">
                                            <i id="menu-toggle" class="glyphicon glyphicon-thumbs-up"></i><span>&nbsp;Confirm Attendance</span> @*Mudar Status para 1*@
                                        </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <br />
                                <div class="row text-center">
                                    <p>To join in a event please join on the group first</p>
                                    <button id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search" type="submit" disabled title="To join a group event please join on the group first">
                                        <i id="menu-toggle" class="glyphicon glyphicon-ok"></i><span>&nbsp;Join Event</span>
                                    </button>
                                </div>

                            }
                            @if (ViewBag.StatusUserGrupo == 2)
                            {
                                <br />
                                <div class="row text-center">
                                    <a href="~/Evento/EditEvento/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento" id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search">
                                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Event Info
                                    </a>
                                </div>
                                
                            }
                            <br />
                            <div class="row text-center">
                                <a href="~/Grupo/Index/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo" id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Back
                                </a>
                            </div>
                        </center>
                    </div>
                </div>
        </div><!--./list-group-item-->
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a><a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->
    </div><!--/list-group-->
</div><!--/col-lg-2 col-sm-12 col-md-3-->
<!--        Fim Menu Esquerdo       -->
<!--Começo Coluna About com tamanho maximo disponivel dentro da coluna-->
<div class="col-lg-6 col-sm-12 col-md-6">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <span class="glyphicon glyphicon-tag cor-fonte-sem-efeito">&nbsp;</span><span class="cor-fonte-sem-efeito">About</span>
        </div><!--/panel-heading-->
        <!-- Corpo do texto da div nem todas terão ele-->
        <div class="panel-body no-border">
            <!--começo post a esquerda-->
            <div class="col-xs-12">
                <!--Cria thumbnail e deixa com borda preta-->
                <div class="thumbnail borda-profile">
                    <div class="media">
                        <!--Corpo da div media -->
                        <div class="media-body">
                            <!--div alinhada verticalmente ao centro-->
                            <div class="vertical-align">
                                <!--Titulo de descrição-->
                                <h4 class="">About Event:</h4>
                            </div><!--./vertical-align-->
                            <!--Descrição do grupo-->
                            <p class="text-right text-justify">@ViewBag.ReadEvento.Descricao</p>
                            <table>
                                <tr><td class="text-right font-perfil">Event Date:</td><td>&nbsp;@ViewBag.DataFormatada - @ViewBag.ReadEvento.Hora (UTC - 03:00)</td></tr>
                                @*<tr><td class="text-right font-perfil">City:</td><td>&nbsp;São José Do Rio Preto</td></tr>
                                    <tr><td class="text-right font-perfil">State:</td><td>&nbsp;São Paulo</td></tr>*@
                                @if (ViewBag.ReadEvento.Tipo == 1)
                                {
                                    <tr><td class="text-right font-perfil">Online Event</td></tr>
                                }
                                else
                                {
                                    <tr><td class="text-right font-perfil">Address:</td><td>&nbsp;@ViewBag.ReadEvento.Logradouro, @ViewBag.ReadEvento.Numero</td></tr>
                                    <tr><td class="text-right font-perfil">District:</td><td>&nbsp;@ViewBag.ReadEvento.Bairro</td></tr>
                                    <tr><td class="text-right font-perfil">Zip-Code:</td><td>&nbsp;@ViewBag.ReadEvento.Cep</td></tr>
                                    <tr><td class="text-right font-perfil">City:</td><td>&nbsp;@ViewBag.ReadEvento.Localidade - @ViewBag.ReadEvento.Uf</td></tr>
                                }
                            </table>
                        </div><!--./media-body-->
                    </div><!--./media-->
                </div><!--/thumbnail-->
            </div><!--/Post a esquerda-->
        </div><!--/panel-body -->
    </div><!--/panel-default -->
</div><!--Fim Coluna About-->
<!--

    Começo Amigos e grupos

-->
<div class="col-lg-3 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!-- Escritos e icones da barra preta da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="~/Evento/Members/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento"><span class="glyphicon glyphicon-star cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Going Members (@ViewBag.QuantUserPartEvento)</span></a>
        </div><!--/panel-heading-->
        <!-- Corpo do texto da div nem todas terão ele-->
        <div class="panel-body no-border">
            @if (ViewBag.QuantUserPartEvento == 0)
            {
                <h4 class="text-center">No one have entered or confirmed presence on this event yet. Become the first!</h4>
            }
            else
            {
                foreach (var e in ViewBag.ViewConfUserEvento)
                {


                    <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                        <a id="cor-fonte-menu" href="~/Grupo/Person/?UserID=@e.CIdUsuario" class="thumbnail" title="@e.UNick">
                            <!--Anchor ou link do membro em questão-->
                            <img class="img-responsive center-block" src="@e.UImagem" alt=""><!--Img do membro-->
                            <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">@e.UNick</p><!--Nickname do cidadão-->
                        </a>
                    </div><!--/col-sm-12 col-md-6 col-lg-4-->
                }
            }
            @if (ViewBag.QuantUserPartEvento > 6)
            {
                    <!-- Coluna criada pra evitar que o See more nao fique sem ser no final da coluna-->
                <div class="col-xs-12">
                    <a href="~/Evento/Members/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
                </div><!--/col-lg-12-->
            }
        </div> <!--fim panel-body Members-->
    </div> <!--fim panel-default Members -->
</div>
<script>
    var enableRadio = function () {
        document.getElementById('txtLAN').style.visibility = 'visible';
    }

    var disableRadio = function () {
        document.getElementById('txtLAN').style.visibility = 'hidden';
    }

    enableRadio();
    //    alert('abc');
    //    if ($("#Online").is(":checked")) {
    //        alert('teste');
    //        $('#Endereco').prop('disabled', 'disabled');
    //    }
    //    else {
    //        $('#Endereco').prop('disabled', false);
    //    }
    //};
    //$(enableRadio);
    //$("#Online").change(enableRadio);
</script>
