@model DisciplineTeam.Area52.Web.Models.Evento
@{
    ViewBag.Title = "friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--            Começo Menu Esquerdo            -->
<!--Cria as Coluna principal da Div-->
<div class="col-lg-2 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="#"><span class="glyphicon glyphicon-pushpin cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Event</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <a href="~/Evento/Index/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento"> <img src="@ViewBag.InfoGrupo.GImagem" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <h2 class="text-center"><a href="~/Evento/Index/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento">@ViewBag.ReadEvento.Nome</a></h2>
            <a href="~/Grupo/Index/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo" class="text-center"><p class="text-center">@ViewBag.InfoGrupo.GNome</p></a>
            <section class="col-lg-offset-3" style="padding-bottom: 50px;">
                <a href="~/Evento/Index/?IdGrupo=@ViewBag.InfoGrupo.GIdGrupo&IdEvento=@ViewBag.ReadEvento.IdEvento" id="cor-fonte" class="col-lg-8 btn cor-fonte efeito-fade-navbar borda-botao-search"><span class="glyphicon glyphicon-remove"></span>&nbsp;Back</a>
            </section>
        </div><!--/list-group-->
    </div><!--/col-lg-2 col-sm-12 col-md-3-->
</div>
<!--            Fim Menu Esquerdo               -->
<!-- Começo da tela de Members -->
<!--Div com tamanho 10/12 lg, 12/12 sm e 9/12 md-->
<div class="col-lg-10 col-sm-12 col-md-9">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="#"><span class="glyphicon glyphicon-star cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Members Going To @ViewBag.ReadEvento.Nome (@ViewBag.QuantUserPartEvento) </span></a>
        </div><!--/panel-heading-->
        <!-- Corpo do texto da div nem todas terão ele-->
        <div class="panel-body">
            @if (ViewBag.QuantUserPartEvento == 0)
            {
                <h4 class="text-center">No one have entered or confirmed presence on this event yet. Become the first!</h4>
            }
            else
            {
                foreach (var e in ViewBag.ViewConfUserEventoAll)
                {
                    <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <a id="cor-fonte-menu" href="~/Grupo/Person/?UserID=@e.CIdUsuario" class="thumbnail" title="@e.UNick">
                            <!--Anchor ou link do membro em questão-->
                            <img class="img-responsive center-block" src="@e.UImagem" alt=""><!--Img do membro-->
                            <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">@e.UNick</p><!--Nickname do cidadão-->
                        </a>
                    </div><!--/col-sm-12 col-md-6 col-lg-4-->
                }
            }
        </div><!-- /.panel-body -->
    </div><!-- /.panel panel-default -->
</div><!-- /.col-lg-10 col-sm-12 col-md-9 -->
<!--Fim tela members-->
