@*@model Tuple<IEnumerable<DisciplineTeam.Area52.Web.Models.Grupo>, DisciplineTeam.Area52.Web.Models.Usuario>*@
@model  IEnumerable<DisciplineTeam.Area52.Web.Models.Grupo>
@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--        Começo Menu Esquerdo        -->
<!--Cria as Coluna principal da Div lg 2/12, sm 12/12 e md 3/12-->
<div class="col-lg-2 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="~/Usuario/Edit"><span class="glyphicon glyphicon-user cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Profile</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <a href=""> <img src="@ViewBag.ReadU.Imagem" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <!--Nickname do usuario-->
            <p class="nick-person profile-usertitle-name profile-text text-center break-word">@ViewBag.ReadU.Nick</p>
            <center>
                <!--tabela com os dados do usuário-->
                <table>
                    <tr><td class="text-right font-perfil">Name:</td><td class="break-word">&nbsp;@ViewBag.ReadU.Nome</td></tr>
                    <tr>
                        <td class="text-right font-perfil">Gender:</td>
                        @if (ViewBag.ReadU.Sexo == "M")
                        {
                            <td class="break-word">&nbsp;Male</td>
                        }
                        else if (ViewBag.ReadU.Sexo == "F")
                        {
                            <td class="break-word">&nbsp;Female</td>
                        }
                        else
                        {

                        }
                    </tr>
                    <tr>
                        <td class="text-right font-perfil">Age:</td>
                        @if (ViewBag.ReadU.Datanasc != null)
                        {
                            int age = DateTime.Today.Year;
                            int ageuser = Convert.ToInt32(ViewBag.ReadU.Datanasc);
                            ViewBag.ReadU.Datanasc = (age - ageuser).ToString(); ;
                            <td class="break-word">&nbsp;@ViewBag.ReadU.Datanasc</td>
                        }
                    </tr>
                </table>
            </center>
        </div><!--./list-group-item-->
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a><a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->
    </div><!--/list-group-->
</div><!--/col-lg-2 col-sm-12 col-md-3-->
<!--        Fim Menu Esquerdo       -->
<!--        Começo Feed             -->
<!-- Div com tamanho 7/12 lg, 12/12 sm e 6/12 md-->
<div class="col-lg-7 col-sm-12 col-md-5">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-tag cor-fonte-sem-efeito">&nbsp;</span><span class="cor-fonte-sem-efeito">About</span></a>
        </div><!--/panel-heading-->
        <!-- Div com collapse ja ativado ao entrar na pagina-->
        <div id="collapse1" class="panel-body panel-collapse collapse in no-border">
            <!--começo post a esquerda-->
            <div class="col-lg-12">
                <!--Cria thumbnail e deixa com borda preta-->
                <div class="thumbnail borda-profile">
                    <div class="media">
                        <!--Corpo da div media -->
                        <div class="media-body">
                            <!--div alinhada verticalmente ao centro-->
                            <div class="vertical-align">
                                <!--nome do Grupo-->
                                <h2 class="media-heading"><a href="#" class="cor-fonte-menu"></a></h2>
                                <!--Titulo de descrição-->
                                <h4 class="">About @ViewBag.ReadU.Nome:</h4>
                            </div><!--./vertical-align-->
                            <!--Descrição do grupo-->
                            <p class="text-right text-justify">@ViewBag.ReadU.Descricao</p>
                        </div><!--./media-body-->
                    </div><!--./media-->
                </div><!--/thumbnail-->
            </div><!--/Post a esquerda-->
        </div><!--/panel-body -->
    </div><!--/panel-default -->
</div><!-- ./Div com tamanho 7/12 lg, 12/12 sm e 6/12 md-->
<!--

    fim Feed

-->
<!--

    Começo Amigos e ReadGrupo

-->
<div class="col-lg-3 col-sm-12 col-md-4">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte" href="~/Grupo/Groups/?UserID=@ViewBag.ReadU.IdPessoa"><span class="glyphicon glyphicon-list cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Groups from @ViewBag.ReadU.Nick (@ViewBag.QuantGruposParticipa)</span></a>
        </div>
        <div class="panel-body no-border">
            @if (@ViewBag.QuantGruposParticipa == 0)
            {
                <h4 class="text-center">This user haven't entered or created at any groups yet.</h4>
            }
            else
            {
                foreach (var e in ViewBag.ReadGrupo)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a id="cor-fonte-menu" href="~/Grupo/Index/?GrupoId=@e.IdGrupo" class="thumbnail" title="@e.Nome">
                            <img class="img-responsive center-block" src="@e.Imagem" alt="">
                            <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">@e.Nome</p>
                        </a>
                    </div>
                }
                if (@ViewBag.QuantGruposParticipa > 6)
                {
                    <a href="~/Grupo/Groups/?UserID=@ViewBag.ReadU.IdPessoa" class="cor-fonte-menu col-sm-12 col-lg-12"><p class="text-right fonte-responsiva-ReadGrupo-amigos">See more...</p></a>
                }
            }
        </div><!-- Fim panel-body groups -->
    </div><!-- fim panel-default groups -->
</div><!-- Fim col-lg-3 -->
<!--

Fim Amigos e ReadGrupo

-->
